[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
uvicorn = "*"
gunicorn = "*"
python-dotenv = "*"
pydantic = "*"
pydantic-settings = "*"

[dev-packages]
isort = "*"
black = "*"
pylint = "*"

[requires]
python_version = "3.11"
